* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fjalla One", sans-serif;
  font-size: 17px;
}
thead,
.nav-link {
  color: red;
}
.nav-link:hover {
  color: rgb(73, 80, 87);
}
h1 {
  color: #cd9a9a;
  text-shadow: 2px 2px 2px #c41515;
}
table tr:hover {
  background-color: #cd9a9a;
  color: white;
}
