* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fjalla One", sans-serif;
  font-size: 17px;
}
thead,
.nav-link {
  color: red;
}
.nav-link:hover {
  color: rgb(73, 80, 87);
}
h1 {
  color: #cd9a9a;
  text-shadow: 2px 2px 2px #c41515;
}
table tr:hover {
  background-color: #cd9a9a;
  color: white;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 320px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 495px;
  }
}
